body {
  background-color: rgb(220, 223, 214);
  margin: 0;
}

ul,li{
  padding: 0;
  margin: 0;
}

.nav {
  color : rgb(255,245,247);
  padding : 0;
  font-size: 0;
  height: 220px;
}




#bg_grey2 {
    position: absolute;
    float: auto;
    background-color: #1c6d8d;
    width: 100%;
    height: 70px;
    top: 0px;
    box-shadow: 0px -5px 5px #33334a inset;
}
#bg_grey3 {
    z-index: -1201;
    position: absolute;
    float: auto;
    background-color: rgb(220, 223, 214);
    width: 100%;
    height: 330px;
    right: 0px;
    top: 100px;
}

.nav img{
    z-index: -1020;
    position: relative;
    height: 169px;
    width:  370px;
    margin-left: -412px;
    margin-top: 60px;
    border-bottom-left-radius: 30px;
    align-content: center;
    -webkit-filter:blur(10px);
    filter: grayscale(100%);
    -webkit-filter: grayscale(45%);
}



/*
#bg_img1 img{
    z-index: -120;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 280px;
    height:  450px;
    margin: 0;
    vertical-align: top;
    filter: grayscale(45%) blur(9px);
    -webkit-filter: grayscale(45%) blur(9px);
}*/


.nav ul{
    padding-top: 16px;
    position: relative;
    bottom: 0%;
    list-style-type: none;
    float:left;
    margin-left: 20px;
}

.nav li{
  color: white;
  float: left;
  font-size: 30px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.nav a{
    display: block;
}

#nav-excel{
    border: 1px solid transparent;
}

#nav-excel:hover{
    background-color: #007237;
    border: 1px solid white;
}

.nav li:hover ul{
    display: block;
    background-color: #007237;
    display: block;
}

.nav ul li ul{
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    float: none;
    display: none;
}

.nav li ul li{
    font-size: 17px;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: none;
}

.nav li ul li:hover{
    background-color: #5aaa82;

}

.nav a{
    color: white;
    text-decoration: none;    
}

#options {
    z-index: 1000;
    margin-top: -70px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-radius: 30px;
    text-align: right;
    padding-right: 40px;
    font-size: 0;
}

.btnOpt_inactive{
    cursor: pointer;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border-color: #669999;
  background-color: rgb(220, 223, 214);
  border-width: 1px;
  border-top-width: 3px;
  font-size: 15px;
  width: 180px;
  height: 65px;
  transition-property: background-color;
  transition-duration: 0.25s;

}

.btnOpt_active{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    background-color: #669999;
    color: rgb(220, 223, 214);
    border-width: 1px;
    border-top-width: 3px;
    border-color: rgb(220, 223, 214);
    font-size: 15px;
    width: 180px;
    height: 65px;
    box-shadow: 12px 8px 20px #336677 inset;
    transition-property: background-color box-shadow;
    transition-duration: 0.25s;
}



.slct_switchDev{
    height: 20%;
    width: 50%;
    float: left;
    color: whitesmoke;
    border: 1px solid white;
    background-color: #336666;
    border-radius: 0;
}

.btn_switchDev{
    height: 20%;
    width: 30%;
    float: left;
    color: whitesmoke;
    border: 1px solid white;
    background-color: #336666;
    border-radius: 0;
}


#timelineBox{
    float: left;
    font-size: 2;
    list-style: none;
    padding-right: 40px;
    border-left: 12px solid gray;
}

#timelineScroll{
    height: 350px;
    width: 240px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#timelineBox li{  
    scrollbar-width: none;
    list-style-type: none;
    font-family: serif;
    color:#096868;
    margin: 10px;
    margin-left: 20px;
    position: relative;
    padding: 7px;
    padding-right: 0px;
}

#timelineScroll::-webkit-scrollbar {
    background-color: rgb(220, 223, 214);
}

#timelineScroll::-webkit-scrollbar-button {
    display: none;
}

#timelineScroll::-webkit-scrollbar-track {
    width: 15px;
    background-color: rgb(220, 223, 214);
    box-shadow: 5px 3px 5px 1px rgba(0,0,0,0.3) inset ;
    border-radius: 10px;
}

#timelineScroll::-webkit-scrollbar-thumb {
    width: 15px;
    box-shadow: 5px 3px 5px 1px rgba(0,0,0,0.3) inset ;
    border-radius: 7px;
    background-color: #096868dd;
}

#timelineBox li:hover{
  cursor: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  color: brown;
}

#infoOpt{
    position: relative;
    background-color: #669999;
    border:3px solid white;
    border-radius: 22%;
    padding: 8px;
    float: left;
    text-align: center;
    color: #7f2323;
    height: 110px;
    width: 200px;
    background-color: #88aaaa;
    font-weight: bold;
    font-size: 18px;
}

#infoOpt span{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 22%;
}

#infoOpt span:hover{
    width: 1;
    height: 1;
    cursor: pointer;
    box-shadow: 10px 10px 20px 7px #33334a;
}

#infoOptPic{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 33%;
    left: 35%;
}

#infoOptlist li{
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    float: left;
}

#devopt {
    position: fixed;
    left: 0;
    margin-left: -50px;
    
}

#devopt ul{
    list-style: none;
    padding-left: 25px;
    padding-right: 25px;
}

#devopt li{
    text-align: center;
    width: 75px;
    height: 40px;
    line-height: 40px;
    background-color: #a76974;
    color: whitesmoke;
}


#indic td{
    font-weight: normal;
    font-size: 14px;
    color: white;
    text-align: center;
    width: 75px;
}

#indic th{
    font-size: 14px;
    color: black;
    text-align: center;
}

.cycleInfoForms {
    border: 1px solid black;
    padding: 3px;
    position: relative;
    margin-left: 320px;
    margin-right: 17%;
    background-color: #cccc99;
    margin-bottom: 0px;
}


.cycleInfoForms table{
  border-width: 0;
  color: brown;
}

.cycleInfoForms th{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  color: black;
}

.cycleInfoForms td:not(.timeRow){
  text-align: center;
}

#tabletitle{
    color: rgb(41, 38, 38);
    font-size: larger;
}

#devTable{
    border: 2px solid white;
    border-top-left-radius: 5%;
    position: relative;
    margin-left: 390px;
    margin-right: 20%;
    margin-bottom: 0px;
    background-color: #cccc99;
    box-shadow: 2px 2px 20px #33334a;
    padding-bottom: 40px;
}

#devTable ul{
    width: 300px;
    margin-left: 30px;

}


#devTable li{
    width: 270px;
    margin-top: 15px;
    border-bottom: 1px inset #33334a72;
}

#devTable textarea{
    font-size: 14px;
    resize:none;
    background-color: #ffffff77;
    padding: 14px;
    box-shadow: 2px 7px 7px #33334a inset;
    width: 33%;
    height: 75%;
    position: absolute;
    float: right;
    top: 0;
    right: -2px;
}


#devTable li span{
    
}

.devBord-online:hover{
    background-color: #204540ff;
    border-right: 8px solid #fafeff ;
    border-bottom-left-radius: 10px;
    right: 150px;
    transition: transform 0.25s cubic-bezier(0.12, 0.585, 0.835, -0.620);
}

.devBord-online{
  cursor: pointer;
  background-color: #20454010;
  color: whitesmoke;
  font-size: 150%;
  text-align: center;
  float: left;
  height: 150px;
  width: 40px;
  position: fixed;
  top: 45%;
  right: 150px;
  border-top-left-radius: 15px;
  transition: transform 0.25s cubic-bezier(0.12, 0.585, 0.835, -0.620);
}

.devCard{
    cursor: pointer;
    border-left: 10px solid gainsboro;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    float: left;
    height: 150px;
    width: 400px;
    position: fixed;
    top: 0%;
    right: -410px;
  }

#fastSearch{
    background-color: rgb(220, 223, 214);
    border: 0;
    color: #336666;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#fastSearch img:hover{
    cursor: pointer;
}


.led{

    box-shadow: 0px -15px 80px 25px #ff0000ac;
}


