<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/anim.css">
    <script src="vue/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"> </script>
    <meta http-equiv="refresh" content="900" charset="utf-8">
    <title>桥梁混凝土在线工作台</title>
    <link rel="icon" type="images/x-icon" href="http://47.108.232.221:9527/img/logo.ico">
</head>



<body>
    <div id="bghead">    
        <div style="padding: 10px;text-align: right; font-size: 30px;color: rgb(220, 223, 214)">
        <span style="border-left: 1px solid white; padding-left: 40px;"> 桥梁混凝土在线工作台</span> 
        </div>
    </div>
    <div class='nav'>
        <img src="img/pic1.jpg" alt="图片失效" />
        <ul id="nav_default">
            <li  class="navOpt"><a href=""><p>首页</p></a></li>
            <li id="nav-excel">
                <a id="csvinfo"><p>电子表格</p></a>
                <ul>
                    <li><a :href="linkTo"> 设备近期数据</a></li>
                    <li><a :href="linkTodb"> 设备历史数据</a></li> 
                </ul>
            </li>
            <li  class="navOpt" v-on:click="optDb(), getDevs()"><p>数据库查询</p></li>
            <li  class="navOpt"><p>后台管理</p></li>
        </ul>
        <div id="dbmdl"> 
            <modal-t v-show="showdbInput" v-on:closemodal="closeM" v-on:confirmmodal="confirmM" title="数据库查询">
                <ul>
                    <li>查询 <span style="color: #22a037;">{{dbSearchByDev?'设备ID':'地址'}}</span> ：
                        <select v-show="dbSearchByDev" v-model="queryDev" @change="queryDev = $event.target.value">
                            <option v-for="(item,key) in dbSearchDevnodes" :value="item">
                                {{'设备' + item }}
                            </option>
                        </select>
                        <input v-show="!dbSearchByDev" type="input" ref="inputDbAddr"  value="">
                    </li>    
                    <li>查询日期：
                        <input type="date" ref="inputDbTimeMin" value="2020-01-01" required min="1990-01-01" max="2099-12-31">
                        至 &nbsp;<input type="date" ref="inputDbTimeMax" value="2020-01-01" required min="1990-01-01" max="2099-12-31">
                    </li>  
                </ul>
                <br>
                <img :class="turninfi?'turni':'turnoff'" src="img/loading.png" alt="" style="width: 75px;height: 75px;float: right;right: 10%;">
                <div slot="footbt" id="buttonDB1" @click="dbSearchByDev=!dbSearchByDev;">
                    <span style="font-size: 19px;">按{{dbSearchByDev?'地址':'设备ID'}}查询</span>
                    <img :class="dbSearchByDev?'turnYback':'turnY'" src="img/switch.png" alt="">
                </div>
            </modal>
        </div>
    </div>
    
    <div id="options">
        <btn-options>数据浏览</btn-options>
        <btn-options>设备</btn-options>
        <btn-options>测试</btn-options>
    </div>

    <div style="height: 50px;"></div>
    <div id="infoListBox">
        <span id="fastSearch">
            <img src="img/timelist_rise.png" title="升序/降序" width=" 20px" height="20px"
            style="position:relative;top:4px;left: -6px;" :class="riseSort?'turnX':'turnXback'" @click="getItems().reverse();currentTime = getItems()[0];riseSort = !riseSort">{{title}} 
        </span>
        <lock-auto-up @lockupdate="lockAutoUpdate"></lock-auto-up>
        <refresh @refresh="getTimeline(), getDevs()"></refresh>
        <div id="timelineScroll" ref="scroll">
            <div  v-show="showtip" :class='tipclass'>&nbsp;{{tip}}</div>
            <ul v-for="(item, i) in getItems()" v-show="item">
                <li @click="getData(item)" v-if="typeList===0">{{
                    item[0]+'年'+item[1]+'月'+item[2]+'日'+item[3]+'时'+item[4]+'分'
                }}
                    <img v-show="currentTime === item" src="img/this.png" width="15px" height="15px" alt="">
                </li>
                <li @click="switchDev(item)" style="margin-left: auto;padding: 14px;font-size: 17px;" v-if="typeList===1">{{
                    '设备'+ item
                }}
                    <img v-show="currentDevId == item" src="img/this.png" width="17px" height="17px" alt="">
                    <span>{{(devOnline.indexOf(Number(item)) !== -1)?'正在运行':'离线'}}</span>
                </li>
                <li @click="getQueryData(i)" v-if="typeList===2">{{
                    new Date(item).toLocaleString()
                }}
                    <img v-show="i === currentTime" src="img/this.png" width="15px" height="15px" alt="">
                </li>
            </ul>
        </div>
    </div>
    
    <div id="dataDisplay" v-show="showit" style="text-align:center;">
            <table-info>
                <indictor  ref='indic'></indictor>
            </table-info>
            <div style="border-top:200px solid transparent;border-bottom: 325px solid #208f9c;position: relative;top: 150px;"></div>
    </div>
    <div id="devTable" v-show="showit" style="font-size: large;">
        <div style="font-size:40px;font-family: serif;font-weight: bold;">设备信息</div>
        <ul id="devitems" style="list-style: none;">
            <li><span>项目标号：{{config.projectNumber}}</span></li>
            <li><span> 地址: {{config.location}}</span></li>
            <textarea name="" id="" cols="30" rows="10" readonly="readonly" v-show="!showModal" :value="config.note?note+'\n'+config.note:note"></textarea>
        </ul>
        <img id="bg_img" src="img/pic4.jpg" alt="" width="700px" height="700px">
    </div>

    <script src="./js/main.js"></script>
</body>



</html>
